{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}
{% load static %}
{% block title %} Contact Us {% endblock %}

{% block content %}
    <div class="mt-5 pt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>
    <div class="container">
            <h1 class="text-center">Contact Us</h1>

    <form action="" method="post">
        {% csrf_token %}

     {{ form | crispy }}
{#     {% crispy form %}#}
        <br>
  <button type="submit" class="btn btn-primary">Send</button>    </form>
</div>
{% endblock content %}

